.ogdata {
	padding: 20px;
}
.ogtitle {
	font-weight: bold !important;
}

.ogdata #submit {
    padding: 20px;
    border: none;
    border-radius: 0;
    font-size: 18px;
    padding-bottom: 45px;
    width: 100%;
}

.ogdata input[type="text"] {
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 18px;
    font-weight: 100;
}